#menu{
	height:30px;
	float: center;
	margin: 20px;
	
}
#mainPanel {
	margin:30px;
}
img{
	width:450px;
	height:250px;
	float: left;
	margin: 10px;  
	overflow:auto;
}
.alert-message{
	visibility:hidden;
}
.pure-menu-list{
	color:#A50046 !important;
	background-color: white;
}
.my-button{
	color:#A50046 !important;
	background-color: white;
}
.pure-menu{
	color:#A50046 !important;
	background-color: white;
}
.pure-menu-link{
	color:#A50046 !important;
}
#blog-content{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:14px;
	overflow:auto;
	display: table
	
}
#btn-close,#message{
	color: red;
}
#message-body{
	display: inline !important;
}
.pure-button{
	background-color:white;
}
.my-pure-button{
	background-color:#1d1dff;
	color: white;
}
.legend{
	font-size: 18px;
	font-weight: bold;
}
#footer{
	width: 300px;
}
.my-table{
	text-align: center;
	width:700px;
	margin-top: 20px;
}
